NODE_ENV=development

DATABASE_URL=postgresql://admin:admin@localhost:5432/pulseboard


# when i use mongodb
# MONGODB_URI=mongodb://admin:password@localhost:27017/poll?authSource=admin

CORS_CLIENT_URL=http://localhost:3000

JWT_ACCESS_SECRET=chaicodealongstringygjmt
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=somthingnewsecretygjmt
JWT_REFRESH_EXPIRES_IN=7d

# all localhost credentials it's fine




NODE_ENV=production

MONGODB_URI=mongodb+srv://jmtygsh:Yogesh1590@cluster.s84dg33.mongodb.net/?appName=cluster

CORS_CLIENT_URL=https://pulse-board.ygshjm.dev


JWT_ACCESS_SECRET=chaicodealongstringygjmt
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=somthingnewsecretygjmt
JWT_REFRESH_EXPIRES_IN=7d


SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_AUTH_USER=resend
SMTP_AUTH_PASSWORD=re_Zg8JxKAc_CB8anC17pjye9xkMUbWW6LXq
SMTP_FROM_EMAIL=no-reply@pulse-board.ygshjm.dev